.question{
    margin-top: 10px;
}
.type{
    color: tomato;
    margin-bottom: 10px;
}
.question_item{
    font-size: 15px;
    font-family: KaiTi;
    margin: 5px 0;
}
.answer{
    padding: 5px 15px;
    span{
        margin-right: 15px;
        font-family: KaiTi;
    }
}