
.layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1;
        overflow-y: auto;
        .aside{
            height: 100%;
        }
    }
}
