.wrap {
  width: 100%;
  height: 100vh;
  background: #F0F2F5;
  overflow-y: auto;
}
.head {
  width: 100%;
  height: 80px;
  font-size: 26px;
  font-weight: 800;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.top {
  width: 93%;
  height: 300px;
  background: #FFFFFF;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  .item{
    height: 50px;
    margin: 20px 0 0 20px;
    input{
      width: 260px;
      height: 32px;
      margin-top: 10px;
    }
  }
}
